<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tourists</title>
    <script src="/static/js/jquery-3.4.0.min.js"></script>
    <script src="/static/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
<div id="registr-form">
    <h2>Добавление туриста</h2>
    <form>
        <label>Имя туриста:</label>
        <input type="text" name="name" value="">
        <label>Дата рождения:</label>
        <input type="text" name="birthday" value="">
        <label>Место в автобусе:</label>
        <input type="text" name="seat" value="">
        <hr>
<!--        <button id="save-info">Сохранить</button>-->
<!--        <br><br>-->
        <button id="show-add-registr-form">Добавить данные туриста</button>
    </form>
</div>
<h2>Количество туристов: <span th:text="${touristsCount}">0</span></h2>

<h2>Реестр туристов:</h2>
<div id="tourist-list">
    <div th:each="tourist : ${tourists}">
        <a href="#" class="tourist-link" th:attr="data-id=${tourist.id}" th:text="${tourist.name}"></a>
    </div>
</div>
<!--<p th:text="${someParameter}"></p>-->
</body>
</html>
